
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body 
{
    font-size: 0.9vw;
    margin:0;
    font-family:'Raleway',sans-serif;
}

h1
{
    font-size: 1.2vw;
    font-weight: bold;  
}

h2 
{
    font-size: 1.2vw;
    font-weight: bold;
}
/*navigation*/
header 
{
    display: flex;
    flex-direction: row;
    align-items: center;
    width:94%;
    margin: 0% 3% 0% 3%;
}

#navigation 
{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: center;
    width: 100%;
}

.logo2,#navigation2
{
    display:none;
}

a 
{
    text-decoration: none;
}

.nav1 
{
    padding: 2rem;
    font-weight: 500;
    text-align: center;
    border-top: 2px solid #0065FC;
    color:#0065FC;
}

.nav2 
{
    padding: 2rem;
    font-weight: 500;
    text-align: center;
    border-top: 3px solid transparent;
    color:#606060;
}

.nav2:hover
{
    color:#0065FC }

.nav3 
{
    color:#0065FC;
    font-weight: bold;
    cursor: pointer;
}

/* Mise en forme filtres*/
input 
    {
        font-weight:bold;
    }
.icon
{
    height:2.6rem;
    width:2.6rem;
    font-size:15px;
    display:flex;
    align-items: center;
    justify-content: center;
    color:#0065FC;
    background-color: #deebff;
    border-radius: 100%;
    text-align: center;
    vertical-align: middle;
    margin:-3px;
}

.fa-money-bill-wave.fa
{
    transform: scale(0.8,1);
}

.legend
{
    margin: 0 1rem;
}

.blocfilters:hover 
{
    color: gray;
}

#filters {
    display: flex ; 
    flex-direction: row;
    align-items: center;
    margin-top:1%;
}

.blocfilters
{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-right: 2rem;
    border:2px solid #d9d9d9;
    border-radius: 2rem;
    cursor: pointer;
}

.surchtitle
{
    margin-right:2rem;
}

.fa-star 
{
    color:#0065FC;
}

.fa-star.grey 
{
    color:#d9d9d9;
}

#informations 
{
    margin:2% 3% 0% 3%;
    width:94%;
}

.fa-info 
{
    margin-right:1%;
    color:#0065FC;
    border: 2px solid #d9d9d9;
    padding:0.5% 0.7% 0.5% 0.7%;
    font-size: 7px;
    border-radius: 50px;
}

/* Mise en forme barre de recherche*/
.surch 
{
    width:94%;
    margin: 0% 3% 0% 3%;
}

label 
{
    border: 1px#0065FC;
    background-color:#0065FC;
    color: white;
    border-radius: 0px 10px 10px 0px;
    padding: 1%;
    cursor: pointer;
}

.surching-bar {
    border: 1px#F2F2F2;
    background-color:#F2F2F2; 
    padding: 1%;
    border-radius: 10px 0px 0px 10px;
    margin-right: 1%;
    cursor: pointer;
}

input 
{
    border: none;
}

p strong 
{
    color: grey;
    font-weight: normal;
}

#bar 
{
    display: flex;
}

#bar2
{
    display: none;
}

/*taille et mise en forme des blocs hébergements*/
#conteneur 
{
    display: flex;
    flex-direction: row;
    max-width:100%;
    max-height:33%;
    padding: 2% 3% 3% 3%;
}

#marseilleaccomodations 
{
    display: flex;
    flex-direction: column;
    border: 1px solid #F2F2F2;
    border-radius: 10px;
    background-color: #F2F2F2;
    margin-right: 3%;
    justify-content: space-around;
    width: 65%;
    height:100%;
    padding:1% 2% 2% 2%;
}

div.accomodation 
{
    max-width:100%;
    border: 1px solid #F2F2F2;
    border-radius: 10px;
    background-color: white;
    margin: 0% 2% 2% 0%;
    padding: 0.5%;
    box-shadow:0 0 16px #0000001e;
}

#accomodation-bloc 
{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#most-popular 
{
    border: 1px solid #F2F2F2;
    border-radius: 10px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    width:32%;
    max-height:100%;
    padding-top: 1%;
    margin: auto;
}

#most-popular aside 
{
    display:flex;
    flex-direction: row;
    margin:0% 7% 5% 7%;
    padding: 1%;
    box-shadow:0 0 16px #0000001e;
    border: 1px solid #F2F2F2;
    border-radius: 10px;
    background-color: white;
}

div.text 
{
    margin:2% 0% 0% 4%;
    line-height: 150%;
}

.title3 
{
    margin-left:7%;
}

.fa-chart-line 
{
    float: right;
    margin-right: 8%;
}

.note 
{
    display:inline-block;
    margin-top: 30%;
}

/*taille et mise en forme des photos d'hébergements */

.pict 
{
    border-radius: 10px  10px 0px 0px;
    width: 221px;
    height:103px;
    object-fit: cover;
}

.pict-right 
{
    border-radius: 10px 0px 0px 10px;
    width: 105px;
    height:105px;
    object-fit: cover;
}

/*Taille et mise en forme des photos Activité à Marseille*/
.vieuxport,.calanques,.pommegues,.frioul,.notredame,.longchamp
{
    width: 100%;
    border-radius: 10px  10px 0px 0px;
    object-fit: cover;
}

.calanques,.vieuxport
{
    width: 100%;
	height: 310px;
}

.pommegues
{
	height: 140px;
}

.frioul
{
	height: 94px;
}

.notredame
{
    height: 103px; 
}

.longchamp
{
	height: 132px;
}

/* Taille et mise en forme des blocs activités */
div.title4 {
    margin-left:3%
}
#marseilleactivities 
{
    display: flex;
    flex-direction: row;
    width: 94%;
    height:24%;
    margin:auto;
}

.activity-2 
{
    display: flex;
    flex-direction: column;
    width: 22%;
    height: 100%;
    margin-right:4%;
}

.activity-3,div.activity-1 
{
    border: 1px solid #F2F2F2;
    border-radius: 10px;
    width: 22%;
    height:100%;
    margin-right: 4%;
    box-shadow:0 0 16px #0000001e;
}

div.marseille1 
{
    width:100%;
}

div.activitytitle 
{
    width:92%;
    padding:4%;
}
div.marseille2,div.marseille3 
{
    border: 1px solid #F2F2F2;
    border-radius: 10px;
    width: 100%;
}
div.marseille3 
{
    height:43%;
}

div.marseille2
{
height: 55%;   
}

div.activity-4,div .activity-2 
{
    width: 22%;
    height:100%;
}

div.activity-2
{
    margin-right: 4%;
}

div.column1,div.column2 
{
    border: 1px solid #F2F2F2;
    border-radius: 10px;
    box-shadow:0 0 16px #0000001e;
}

div.column2 
{
    margin-top:15%
}

/* Mise en forme footer */
footer 
{
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    border: 1px solid #F2F2F2;
    background-color: #F2F2F2;
    width: auto;
}

.footer-text
{
    margin-right: 20%;
}

ul 
{
    list-style-type: none;
    display: flex;
    flex-direction: column; 
    cursor: pointer;
}

li 
{
    margin-bottom:5%;
}

.footertitle 
{
    line-height: 2em;
    font-weight: bold;
}

/* Régle responsive mobiles */
@media all and (max-width:768px) 
{
    /*taille des polices*/
    body 
    {
        font-size: 4vw;
    }

    h2 
    {
        font-size: 5vw;
        font-weight: bold;  
        margin-left: 3.5%;
        margin-top:2%;
    }

    h1 
    {
        font-size: 5vw;
        font-weight: bold;  
        white-space: pre-wrap;
        width:80%;
    }
    h4 
    {
        font-size: 1.8vw;
        font-weight: normal;
    }

    #title2 
    {
        margin:5% 0% 5% 4%;
    }

    div.filters 
    {
        font-size: 2vw;
    }
    #filters {
        display: flex ; 
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        width:100%;
    }

    .blocfilters 
    {
        margin-bottom: 3%;
    }

    .surchtitle 
    {
        width: 100%;
    }

    #navigation 
    {
        display: flex;
        flex-direction: row; 
    }   

    a.nav1
    {
        border-bottom: 3px solid #0065FC;
        border-top: none;
        padding:1.5rem; 
        width:50%;
        margin-right: 0;
    }
    a.nav2 
    {
        border-bottom: 3px solid transparent;
        width:50%;
    }

    .nav3 
    {
        position: absolute;
        right: 5px;
        top:15px;
    }

    header 
    {
        display:flex;
        flex-direction: column;
        width:94%;
        align-items: baseline;
    }

    .logo 
    {
        position:relative;
        top:12px;
        left:30px;
    }

    #bar 
    {
        display: none;
    }

    #bar2 
    {
        display: flex;
    }

    label 
    {
        border-radius: 10px 10px 10px 10px;
        padding: 3%;
    }

    .surching-bar 
    {
        padding: 3%;
    }

    .fa-map-marker-alt 
    {
        font-size:13px;
    }

    .surch 
    {
        margin: 5%;
    }

    #filters 
    {
        display: flex ; 
        flex-direction: row;
    }

    .legend 
    {
        margin: 0 0.5rem;
    }

    .fa-info 
    {
        margin-right:1%;
        padding-top: 1.5%;
        color:#0065FC;
        border: 2px solid #d9d9d9;
        width: 18px;
        height:16px;
        font-size: 12px;
        text-align: center;
        vertical-align: middle;
        border-radius: 100%;
    }

    #informations 
    {
        margin-bottom: 7%;
    }

/*Mise en page hébergement */
    #conteneur 
    {
        display: flex;
        flex-direction: column-reverse;
        width:100%;
        padding: 2% 0% 0% 0%;
        margin:4% 0% 4% 0%;
    }

    #accomodation-bloc 
    {
        display:flex;
        justify-content: center;
    }    

    #marseilleaccomodations 
    {
        display: flex;
        flex-direction: column;
        width:100%;
        border-radius: 0;
        background-color:white;
        margin-right: 0%;
        padding:0;
        border:0;
    }

    div.accomodation
    {
        max-width: 330px;
        margin-bottom: 4%;
    }

/*mise en page les plus populaires */ 
    #conteneur aside 
    {
        max-width:100%;
    }

    #most-popular aside 
    {
        margin-right: 6%;
        margin-left: 4%;
    }

    #most-popular 
    {
        display: flex;
        flex-direction: column;
        width:100%;
        border-radius: 0px;
        margin-bottom: 5%;
        border:0px solid #F2F2F2;
    }

    .note 
    {
        margin-top: 20%;   
    }

/*taille et mise en forme des photos d'hébergements en responsive */
    .pict 
    {
        border-radius: 10px  10px 0px 0px;
        width: 330px;
        height:110px;
        object-fit: cover;
    }

    .pict-right {
        border-radius: 10px 0px 0px 10px;
        width: 130px;
        height:130px;
        object-fit: cover;
    }

    div.text 
    {
        margin:3% 0% 0% 6%;
        line-height: 150%;
    }

/*taille et mise en forme des photos Activités en responsive */
    #marseilleactivities 
    {
        display: flex;
        flex-direction: column;
        max-width: 93%; 
        margin:0;
    }

    .vieuxport 
    {
        width: 100%;
	    height: 130px;
        border-radius: 10px  10px 0px 0px;
        object-fit: cover;
    }

    .calanques 
    {
        width: 100%;
	    height: 130px;
        border-radius: 10px  10px 0px 0px;
        object-fit: cover;
    }

    .pommegues 
    {
        width: 100%;
	    height: 130px;
        border-radius: 10px  10px 0px 0px;
        object-fit: cover;
    }

    .frioul 
    {
        width: 100%;
	    height: 130px;
        border-radius: 10px  10px 0px 0px;
        object-fit: cover;
    }

    .notredame 
    {
        width: 100%;
        height: 130px; 
        border-radius: 10px  10px 0px 0px;
        object-fit: cover;
    }
    
    .longchamp 
    {
        width: 100%;
	    height: 130px;
        border-radius: 10px  10px 0px 0px;
        object-fit: cover;
    }

    div.activity-1 
    {
        border: 1px solid #F2F2F2;
        border-radius: 10px;
        width: 94%;
        margin: 0 3% 5% 3%;
        box-shadow: 2px 2px 2px white;
    }

    div.activity-2 
    {
        border-radius: 10px;
        width: 94%;
        margin: 0 3% 5% 3%;        
        box-shadow: 2px 2px 2px white;
    }   

    div.activity-3 
    {
        border: 1px solid #F2F2F2;
        border-radius: 10px;
        width: 94%;
        margin: 0 3% 5% 3%; 
        box-shadow: 2px 2px 2px white;
    } 

    div.activity-4 
    {
        width: 94%;
        margin: 0 3% 5% 3%;
    }

    div.column2 
    {
        border: 1px solid #F2F2F2;
        border-radius: 10px;
        box-shadow: 2px 2px 2px white;
        margin-top: 5%;
    }
            
    footer 
    {
        display: flex;
        flex-direction: column;
        margin-top: 10%;
    }
}

@media all and (min-width : 769px) and (max-width : 1024px) 
{
    body 
    {
        font-size: 1vw; 
    }

    h1,h2 
    {
        font-size: 1.5vw;
    }

    input 
    {
        font-size: 1.2vw;
    }

    .icon 
    {
        height:2.5rem;
        width:2.5rem;
        font-size:20px;
    }

    .fa-map-marker-alt 
    {
        font-size:17px;
    }

    .note 
    {
        margin-top: 10%;   
    }

    div.text 
    {
        margin:1% 0% 0% 3%;
        line-height: 115%;  
    }

    .pict-right 
    {
        width: 115px;
        height:115px;
    }

    #most-popular aside 
    {
        margin:0.7% 7% 15% 7%;
        padding: 1%;
    }
    .nav3 
    {
        margin-top:12px;
        position: relative;
        right: 0px;
        top:0px;
    }
    .fa-info 
    {
        width: 18px;
        height:18px;
        font-size: 15px;
        padding:0.5% 0.5% 0.5% 0.5%;
        text-align: center;
        vertical-align: middle;
    }
}
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait)
{
    .nav3
    {
        margin-top:3px;
    }

    header   
    {
        font-size:2.3vw;
    }
    .surching-bar 
    {
        padding: 2%;
    }

    .fa-map-marker-alt 
    {
        font-size:19px;
        vertical-align: middle;
    }
    .fa-search
    {
        font-size:15px;
        vertical-align: middle;    
    }
    label
    {
        padding: 1.7%; 
    }
    input 
    {
        font-size: 2vw;
        font-weight:bold;
        height:3.5rem;
        padding-top:1%;
    }

    .surchtitle
    {
        font-size:3.5vw;
    }
    .icon
    {
        height:3.8rem;
        width:3.8rem;
        font-size:23px;
    }  
    .legend
    {
        font-size:2vw;
    }    
    .fa-info 
    {
        padding:1%;
        font-size: 18px;
    }
    div.text
    {
        font-size:2.2vw;
    }
    .pict-right
    {
        width: 160px;
        height:160px;
    }
}

@media only screen and (min-width : 1440px) 
{   
    .fa-info 
    {
        margin-right:1%;
        font-size: 10px;
        border-radius: 50px;
    }

    .pict 
    {
        width: 231px;
        height:103px;
    }
    .note 
    {
        margin-top: 2%;   
    }

    .pict-right 
    {
        border-radius: 10px 0px 0px 10px;
        width: 124px;
        height:124px;
    }

    div.column2 
    {
        margin-top:9%
    }

    .footer-text
    {
    margin-right: 15%;
    }
}
